* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-image: url("../img/body.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.home{
    background-image: url("../img/body_2.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
}
.ground{
    position: absolute;
    top:220px;
    left:100px;
    width:1100px;
    height:100%;
}

.container {
    position: absolute;
    left:350px;
    width: 100%;
    height: 100%;

}
.col-lg-12{
    position: absolute;
    top:
}
.but{
    position: absolute;
    top:100px;
    left:220px;
    width:200px;
    height:50px;
    text-align: center;
    animation: blinkbutton 2s infinite;

}
@keyframes blinkbutton{
    1%		{ color: #ef0a1a;}
    25%		{ color: #04eff7;}
    50%		{ color: #10c018;}
    75%  	{ color: #e4e706;}
    100%	{ color: #f80757;}
    
}
.container #link{
    position: absolute;
    top:180px;
    left:280px;    
}


h1{
    background-color: blue;
    color: beige;
}
h2{
    background-color: blue;
    color: beige;
    float:right;
    border-radius: 10px;
    right:10px;
}
.header {
    position: absolute;
    left:50px;
    width: 500px;
    color: #fff;
    padding: 5px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 45px;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ background-color: #10c018;}
    25%		{ background-color: #1056c0;}
    50%		{ background-color: #ef0a1a;}
	75%		{ background-color: #254878;}
	100%	{ background-color: #04a1d5;}
    1%		{ color: #10c018;}
    25%		{ color: #04eff7;}
    50%		{ color: #ef0a1a;}
    75%  	{ color: #e4e706;}
    100%	{ color: #f80757;}
}



.computer {
    position: absolute;
    top: 240px;
    left: 720px;
    
}

.computer img {
    position: absolute;
    top: 80px;
    left: 165px;
    width: 150px;
    height: 150px;
}

.user {
    position: absolute;
    top: 240px;
    left: 120px;
    
}

.user img {
    position: absolute;
    top: 80px;
    left: 165px;
    width: 150px;
    height: 150px;
}
h3{ 
    text-align: center;
    margin-left: 160px;
    color: rgb(255, 255, 255);
    width:150px;
    border-radius: 10px;
    animation:blinkingTexth3 2s infinite;
}
h4{
    margin-left: 0px;
    color: white;
}
@keyframes blinkingTexth3{
    25%		{ background-color: #10c018;}
    0%   	{ background-color: #1056c0;}
    100%		{ background-color: #ef0a1a;}
	75%		{ background-color: #254878;}
	50%	{ background-color: #04a1d5;}

}
.btn-group {
    position: absolute;
    display: block;
    width: 500px;
    top: 510px;
    margin-left: 505px;
}



.btn-group button {
    width: 15px;
    background-color: rgb(28, 31, 214);
    /* Green background */
    border: 1px solid rgb(52, 56, 240);
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #02007e;
}

#cscore{  position: relative;
    top: 570px;
    height:60px;
    padding-top:2px;
    font-weight: bolder;
    background-color: rgb(57, 132, 243);
    text-align: center;
    font-size:25px;
    
}
.out{
    background-image: url(../img/out.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:300px;
    left:550px;
    width:200px;
    height:200px;
    border-radius: 150px;
}
.quit{
    position:absolute;
    width:150px;
    left:880px;
    
}
.quit h2{
    background-color: blue;
    border-radius:15px;
    color: black;
}
@media only screen and  (max-width:800px){
    .header{
        text-align: left;
        font-size: 20px;
        left: 0px;
    }
    body{
        width: fit-content;
        background-image: none;     
    }
    .but{
        left:100px;
    }
    .container{
        overflow: hidden;
        left:0px;
        width: 100%;
        height: 100%;
        background-color: slateblue;
    }
    .container #link{
        left:170px;
    }
    .quit{
        top:40px;
        left:228px;
    }
    .home{
        background-image: none;
    }
    .user{
        top:300px;
        left:90px;
    }
    .computer{
        top:120px;
        left:90px;
        
    }
    .btn-group{
        margin-bottom: 0px;
        margin-left:25px;
        width: 300px;
    }
    .computer img{
        left:20px;
        width:130px;
        height: 130px;
        top:60px;
    }
    .user img{
        left:20px;
        width:130px;
        height: 130px;
        top:60px;
    
    }
    h3{
        margin-left: 10px;
    }

    #cscore{
        margin-bottom: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 0px;
        width: 100%;
        height: 27px;
        font-size:15px;
        font-weight: bold;
        color: black;
    }
    .out{
        display: none;
    }
   }
